<div id = "about" class="all_mainContent"> 
  <div id="about_page" class="card">
    <div  class="card-text">
    <div id="antalya" class="portada"></div>
      <div class="title-total">   
        <div class="title">Ahmad Abdullah</div>
        <h2>Why Does LyvlyBlog Exists</h2>
        <div id="about_page_text" class="desc">
          2020 was a nightmare for a large group of people. A lot of people lost their jobs because of the pandemic virus covid-19. 
          It has forced many companies to fire their workers or make them work less hours than they used to, the reason behind the economic problem is the covid-19 spreading mechanism, 
          it spreads in the air or only handshaking. People stopped going out and consume.
          Many countries have forced quarantine in their big cities, and because of these reasons the money circulation is slower than before. 
          It has been boring for a lot of people but there are some persons who have not wasted their time in this boring period. 
          Here is where “ LIVLYBLOG” come in. 
          “LIVLYBLOG” is a website where people share with each other what they have done on the time when they were home. 
          It is the place where people share their creative ideas of what to do at home with family. 
          In “LIVLYBLOG”  you don’t need to talk about what you did at home maybe the country you live in does not have quarantine and was not effected economically but still the neighbor country have quarantine and was not effected economically 
          and you spend your vacation traveling around in your country, in this case you can talk about where you have been in you’re also. 
        </div>
      </div> 
    </div>
  </div>

  <div id="about_page" class="card">
    <div class="card-text">
      <div id="about_me_page" class="portada"></div>
        <div class="title-total">   
          <div class="title">Ahmad Abdullah</div>
          <h2>Who is Involved in LIVLYBLOG</h2>
          <div id="about_page_text" class="desc">
            My name is Ahmad, I am 19 years old, studying at Jönköping University and studying Software Development and mobile platforms. 
            I am a guy interested in sports who likes to play football, I have also worked with children and leisure in Sommarvågen 2017 and I have worked in McDonald's more than two and a half years ago and still work there. 
            During my free time, I volunteer as an interpreter for Arabic, but do not get paid for this, but it is non-profit, I have used this property because there are many people who do not know Swedish but can speak Arabic. 
            I am diligent, want to learn new things and develop. By the way, I am calm, polite, helpful and responsible. 
            I am a very social person who has an interest in getting to know many new people. 
          </div>
        
        </div> 
      </div>
  </div>
</div>