<main>

    <div class="main">
        <div class="empty">
            <div class="empty-icon">
            <i class="icon icon-people"></i>
            </div>
            <p class="empty-title h2">Phone: +46765649383</p>
            
        </div>

        <div class="empty">
            <div class="empty-icon">
            <i class="icon icon-mail "></i>
            </div>
            <p class="empty-title h2">E-Mail</p>
            <p class="empty-subtitle h4" id="about">Ahmad Adnan Abdullah </p>
            <p class="empty-subtitle h3">aa6000@gmail.com</p>
            
        </div>

                <div class="empty">
            <div class="empty-icon">
            <i class="icon icon-mail "></i>
            </div>
            <p class="empty-title h2">Adress:</p>
            <p class="empty-subtitle h4" id="about" >Ahmad Adnan Abdullah </p>

            <p class="empty-subtitle h3">Väktaregränden 2b ulricehamn</p>
            
        </div>
    </div>
</main>