{{#if this}}
    <div class="all_mainContent">
        <div class="hero bg-lg">
            <div class="hero-body">
                <h1>{{this}}&#128512;</h1>
                <h4><a href="/guestBook">click here to return to guest book</a></h4>
            </div>
        </div>
    </div>
{{/if}} 