{{#if this}} 
    <div class="all_mainContent">
        <div class="hero bg-lg">
            <div class="hero-body">
                <h1>{{this}}&#128512;</h1>
                <h4><a href="/">click here to return to home page</a></h4>
            </div>
        </div>
    </div>
{{/if}}