{{#if this}}
    <div class="all_mainContent">
        <div class="hero bg-lg">
            <div class="hero-body">
                <h1>{{this}}&#128533;</h1>
                <h3><a href="/">click here to return to Home page</a></h3>
            </div>
        </div>
    </div>
{{/if}}

